VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_BASE_FOLDER=karito-centro-estetico
VITE_CLOUDINARY_DELIVERY_TYPE=upload
VITE_CLOUDINARY_TRANSFORMATION=f_auto,q_auto
VITE_CLOUDINARY_VERSION=
VITE_CLOUDINARY_API_KEY=
VITE_CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_API_SECRET=
